body.popup {	
	min-width: 0;
}

html > body.popup #content {
	min-height: 415px;
}

h1 {
	font-size:24px;
	font-weight:normal;
	margin: 0;
	padding: 0;
	text-align:left;
}

#comment {
	height:150px;
	width:99%;
}

#header {
background-color:#507AAA;
color:#F8F8F8;
height:3em;
margin:0;
padding:4px 6px 0;
position:relative;
}

#quick-search {
float:right;
padding-top:5px;
}

div.comment_wrapper label {
	
	
	
}

p.hidden {	
	display: none;
}

input, select {
	
padding:4px;
width:99%;

}

div.current_time_wrapper {
	
	margin-top:10px;	
	float:right;
}

#current_time {
	
	font-size:24px;
	font-weight:normal;
	margin:0 10px 0 0;
	padding:0;
	text-align:left;
	
}

#start-stop-button {
	
	font-size:20px;	
}