
.icon-clock { background-image: url(../images/clock.gif); }

#time-tracker-menu { margin-right: 8px; }
#time-tracker-menu a { margin-right: 0px; }

.time-tracker-admin td.zombie,
.time-tracker-admin td.start-date,
.time-tracker-admin td.spent-time,
.time-tracker-admin td.msg {
    text-align: center;
}

.time-tracker-admin td.user,
.time-tracker-admin td.issue {
    text-align: left;
}

.time-tracker-admin p.msg {
    text-align: center;
}

#status-transition-list {
    margin-bottom: 10px;
}

#status-transition-list td.zombie {
    font-style: italic;
}
#status-transition-list td.msg {
    text-align: center;
}

#settings form[action="/settings/plugin/redmine_time_tracker"] > div + div { display: none } /* Hack to remove the div opened by redmine before rendering the plugin settings partial */

