<% time_tracker = time_tracker_for(User.current) %>
<% if !time_tracker.nil? %>
    <%# A time tracker exists, display the stop action %>
    <li>
      <% suffix = time_tracker.issue_id.nil? ? l(:time_tracker_label_timer) : '#' + time_tracker.issue_id.to_s %>
      <%= link_to l(:stop_time_tracker).capitalize + ' ' + suffix,
                  {:controller => 'time_trackers', :action => 'stop'},
                  :class => 'icon icon-stop',
                  :onclick => "contextMenuHide();",
                  :remote => true %>
    </li>
<% elsif !@project.nil? and !@issue.nil? and User.current.allowed_to?(:log_time, @project) and help.permission_checker([:tt_book_time, :tt_edit_own_bookings, :tt_edit_bookings], @project) %>
    <%# No time tracker is running, but the user has the rights to track time on this issue %>
    <%# Display the start time tracker action %>
    <li>
      <%= link_to l(:start_time_tracker).capitalize + ' #' + @issue.id.to_s,
                  {:controller => 'time_trackers', :action => 'start', :time_tracker => {:issue_id => @issue.id}},
                  :class => 'icon icon-start',
                  :onclick => "contextMenuHide();",
                  :remote => true
      %>
    </li>
<% end %>
